@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/roboto-v30-latin-300.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v30-latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v30-latin-500.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v30-latin-700.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Rowdies";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/rowdies-v17-latin-300.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Rowdies";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rowdies-v17-latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Rowdies";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rowdies-v17-latin-700.woff2") format("woff2");
}
.limit-content {
  height: 247px;
  overflow: hidden;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: 400;
  color: #181817;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

.button {
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
  padding: 8px 24px;
  background-color: #FF9F0E;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
@media screen and (min-width: 460px) {
  .button {
    font-size: 18px;
    padding: 16px 32px;
    border-radius: 8px;
  }
}
.button:hover {
  background-color: #FCB62A;
}

.button-svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #839AA9;
  fill: #FFFFFF;
  background-color: #839AA9;
  border: none;
  padding: 0;
  width: 73px;
  height: 73px;
  margin-left: 40px;
  -webkit-clip-path: path("M0.170582 30.6286C0.170582 30.6286 -3.18841 13.0171 19.9046 2.31156C42.9977 -8.39397 87.7142 23.4847 68.1901 46.5611C48.666 69.6375 37.9592 78.4398 19.9046 67.0206C1.85007 55.6013 0.170582 30.6286 0.170582 30.6286Z");
          clip-path: path("M0.170582 30.6286C0.170582 30.6286 -3.18841 13.0171 19.9046 2.31156C42.9977 -8.39397 87.7142 23.4847 68.1901 46.5611C48.666 69.6375 37.9592 78.4398 19.9046 67.0206C1.85007 55.6013 0.170582 30.6286 0.170582 30.6286Z");
  cursor: pointer;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
@media screen and (min-width: 1024px) {
  .button-svg {
    position: absolute;
    margin-left: unset;
    -webkit-clip-path: path("M0.376215 52.1494C0.376215 52.1494 -7.03197 21.9889 43.8993 3.65513C94.8305 -14.6786 193.452 39.9153 150.392 79.4347C107.332 118.954 83.7182 134.029 43.8993 114.473C4.0803 94.9165 0.376215 52.1494 0.376215 52.1494Z");
            clip-path: path("M0.376215 52.1494C0.376215 52.1494 -7.03197 21.9889 43.8993 3.65513C94.8305 -14.6786 193.452 39.9153 150.392 79.4347C107.332 118.954 83.7182 134.029 43.8993 114.473C4.0803 94.9165 0.376215 52.1494 0.376215 52.1494Z");
    width: 161px;
    height: 123px;
    top: 36px;
    right: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .button-svg {
    top: 74px;
    right: 112px;
  }
}
.button-svg:hover {
  background-color: #FCB62A;
}
.button-svg--size {
  width: 40px;
  height: 40px;
}
@media screen and (min-width: 1024px) {
  .button-svg--size {
    width: 81px;
    height: 75px;
  }
}

.link {
  color: #181817;
  font-size: 18px;
  line-height: 1.33;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
@media screen and (max-width: 460px) {
  .link {
    font-size: 16px;
    line-height: normal;
  }
}
.link:hover {
  color: #FF9F0E;
}

.icon {
  background-color: transparent;
  border: none;
  padding: 0;
  fill: #FF9F0E;
  cursor: pointer;
  -webkit-transition: fill 0.2s;
  transition: fill 0.2s;
}
.icon:hover {
  fill: #FCB62A;
}
.icon__size {
  width: 40px;
  height: 40px;
}
@media screen and (max-width: 460px) {
  .icon__size {
    width: 24px;
    height: 24px;
  }
}

.input-checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.label-checkbox::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid #839AA9;
  position: absolute;
  left: -16px;
  top: -1px;
}

.input-checkbox:checked + .label-checkbox::before {
  background: url(../images/check-mark.svg) no-repeat;
  background-size: 80% 80%;
  background-position: center;
}

.service-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#FFFBF4));
  background: linear-gradient(180deg, #FFF 0%, #FFFBF4 100%);
  border-radius: 16px;
  border: 1px solid #F9F9FF;
  padding: 47px 62px;
}
.service-card__svg {
  width: 96px;
  height: 96px;
}
.service-card__title {
  font-weight: 600;
  color: #FF9F0E;
  text-align: center;
  margin-bottom: 0;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

.section__title {
  font-family: "Rowdies", sans-serif;
  font-size: 32px;
}
@media screen and (min-width: 460px) {
  .section__title {
    font-size: 48px;
  }
}
@media screen and (min-width: 768px) {
  .section__title {
    font-size: 56px;
  }
}
.section__title--center {
  text-align: center;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
  padding: 42px 8px 0;
}
@media screen and (max-width: 460px) {
  .header__container {
    padding: 18px 0 0 0;
  }
}
@media screen and (max-width: 460px) {
  .header__logo img {
    width: 92px;
  }
}
@media screen and (max-width: 1200px) {
  .header__nav {
    display: none;
  }
}
.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 8px 48px;
}
.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}
@media screen and (max-width: 460px) {
  .header__buttons {
    gap: 16px;
  }
}
@media screen and (max-width: 1200px) {
  .header__btn-contact {
    display: none;
  }
}
.header__btn-burger {
  display: none;
}
@media screen and (max-width: 1200px) {
  .header__btn-burger {
    display: block;
  }
}

.footer {
  position: relative;
  background-color: #FFFAF3;
  margin-bottom: 50px;
  margin-top: 200px; /*remove*/
  padding: 32px 0;
}
@media screen and (max-width: 1200px) {
  .footer {
    margin-bottom: 0;
  }
}
.footer__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 24px;
  max-width: 945px;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.footer__container::before {
  content: "";
  background: url(../images/footer-decor.png) no-repeat;
  width: 252px;
  height: 262px;
  position: absolute;
  top: -15px;
  right: -235px;
  background-size: contain;
}
@media screen and (max-width: 1200px) {
  .footer__container::before {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .footer__container::before {
    display: block;
    top: -255px;
    right: calc((100% - 292px) / 2);
  }
}
@media screen and (max-width: 460px) {
  .footer__container::before {
    display: block;
    top: -144px;
    right: calc((100% - 128px) / 2);
    background-size: contain;
    width: 128px;
    height: 136px;
  }
}
.footer__logo-and-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (max-width: 768px) {
  .footer__logo-and-social {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.footer__logo {
  display: block;
  margin-bottom: 24px;
}
@media screen and (max-width: 460px) {
  .footer__logo > img {
    width: 92px;
  }
}
.footer__social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}
.footer__icon-instagram, .footer__icon-facebook {
  width: 40px;
  height: 40px;
}
@media screen and (max-width: 460px) {
  .footer__icon-instagram, .footer__icon-facebook {
    width: 24px;
    height: 24px;
  }
}
.footer__icon-instagram {
  fill: none;
  stroke: #FF9F0E;
}
.footer__icon-instagram:hover {
  fill: none;
  stroke: #FCB62A;
}
.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}
@media screen and (max-width: 768px) {
  .footer__menu {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
  max-width: 340px;
  width: 100%;
}
.footer__form-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  width: 100%;
  border-radius: 8px;
  padding: 8px 24px;
  border: 1px solid #FF9F0E;
  fill: #FF9F0E;
}
.footer__input {
  font-size: 16px;
  font-weight: 700;
  background-color: transparent;
  color: #FF9F0E;
  border: none;
  width: 100%;
  padding: 0;
}
@media screen and (max-width: 460px) {
  .footer__input {
    font-weight: 400;
  }
}
.footer__input:focus {
  outline: none;
}
.footer__input::-webkit-input-placeholder {
  color: #FF9F0E;
}
.footer__input::-moz-placeholder {
  color: #FF9F0E;
}
.footer__input:-ms-input-placeholder {
  color: #FF9F0E;
}
.footer__input::-ms-input-placeholder {
  color: #FF9F0E;
}
.footer__input::placeholder {
  color: #FF9F0E;
}
.footer__input:focus::-webkit-input-placeholder {
  color: #181817;
}
.footer__input:focus::-moz-placeholder {
  color: #181817;
}
.footer__input:focus:-ms-input-placeholder {
  color: #181817;
}
.footer__input:focus::-ms-input-placeholder {
  color: #181817;
}
.footer__input:focus::placeholder {
  color: #181817;
}
.footer__form-field-privacy {
  position: relative;
  color: #839AA9;
  font-size: 12px;
  font-weight: 300;
}
.footer__button {
  font-size: 16px;
  padding: 8px 24px;
  font-weight: 700;
  max-width: 146px;
  width: 100%;
  border-radius: 4px;
}
@media screen and (max-width: 460px) {
  .footer__button {
    font-weight: 500;
  }
}

.main-section {
  position: relative;
  padding: 65px 0;
}
@media screen and (min-width: 460px) {
  .main-section {
    padding: 144px 0;
  }
}
@media screen and (min-width: 768px) {
  .main-section {
    padding: 224px 0;
  }
}
.main-section::before {
  position: absolute;
  content: "";
  background: url(../images/main-section-bg.svg) no-repeat;
  background-position: right top;
  background-size: auto 100%;
  width: 100%;
  height: 100%;
  left: 0;
  top: -30px;
  z-index: -1;
}
@media screen and (min-width: 460px) {
  .main-section::before {
    top: -42px;
  }
}
@media screen and (min-width: 1200px) {
  .main-section::before {
    background-size: 100% 100%;
  }
}
.main-section__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 65px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 1024px) {
  .main-section__container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
.main-section__content {
  max-width: 640px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) {
  .main-section__content {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.main-section__title {
  font-family: "Rowdies", sans-serif;
  font-size: 32px;
  margin-bottom: 24px;
  text-align: center;
}
@media screen and (min-width: 460px) {
  .main-section__title {
    font-size: 48px;
  }
}
@media screen and (min-width: 768px) {
  .main-section__title {
    font-size: 72px;
    margin-bottom: 40px;
    text-align: unset;
  }
}
.main-section__text {
  max-width: 500px;
  width: 100%;
  line-height: normal;
  margin-bottom: 16px;
  font-size: 16px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .main-section__text {
    line-height: 1.5;
    margin-bottom: 24px;
    font-size: 22px;
    text-align: unset;
  }
}
.main-section__image-container {
  display: none;
}
@media screen and (min-width: 1024px) {
  .main-section__image-container {
    display: block;
  }
}
.main-section__image {
  display: none;
  /* Alternative with clip-path, but hard apadtive (or non adaptive) */
}
@media screen and (min-width: 1024px) {
  .main-section__image {
    display: block;
    width: 460px;
    height: auto;
  }
}
@media screen and (min-width: 1200px) {
  .main-section__image {
    width: auto;
    height: auto;
  }
}

.less-talk-section {
  position: relative;
}
.less-talk-section__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 1024px) {
  .less-talk-section__container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 24px;
  }
}
.less-talk-section__content {
  position: relative;
  max-width: 640px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.less-talk-section__title {
  font-family: "Rowdies", sans-serif;
  font-size: 32px;
  margin-bottom: 24px;
}
@media screen and (min-width: 460px) {
  .less-talk-section__title {
    font-size: 48px;
  }
}
@media screen and (min-width: 768px) {
  .less-talk-section__title {
    font-size: 56px;
    margin-bottom: 40px;
  }
}
.less-talk-section__text {
  line-height: normal;
  margin-bottom: 16px;
  font-size: 16px;
}
@media screen and (min-width: 768px) {
  .less-talk-section__text {
    line-height: 1.5;
    margin-bottom: 24px;
    font-size: 22px;
  }
}
.less-talk-section__image-container {
  position: relative;
}
.less-talk-section__image {
  display: none;
}
@media screen and (min-width: 1024px) {
  .less-talk-section__image {
    display: block;
    width: 460px;
    height: auto;
  }
}
@media screen and (min-width: 1200px) {
  .less-talk-section__image {
    width: auto;
    height: auto;
  }
}
.less-talk-section__small-btn-video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (min-width: 1024px) {
  .less-talk-section__small-btn-video {
    display: none;
  }
}
.less-talk-section__btn-video {
  display: none;
}
@media screen and (min-width: 1024px) {
  .less-talk-section__btn-video {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.less-talk-section__group-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.less-talk-section__button {
  height: 52px;
}

.services-section {
  position: relative;
  padding: 40px 0;
}
.services-section::before {
  position: absolute;
  content: "";
  background: url(../../images/services-section-bg.svg) no-repeat;
  background-position: center top;
  background-size: auto 100%;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
}
@media screen and (min-width: 1024px) {
  .services-section::before {
    background-size: 100% 100%;
  }
}
.services-section__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (min-width: 1024px) {
  .services-section__container {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
.services-section__title {
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .services-section__title {
    margin-bottom: 48px;
  }
}
.services-section__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.services-section__item {
  -ms-flex-preferred-size: calc((100% - 96px - 172px) / 4);
      flex-basis: calc((100% - 96px - 172px) / 4);
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.services-section__more-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}
.services-section__more-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  background-color: transparent;
  border: none;
  padding: 0;
  color: #FF9F0E;
  font-size: 18px;
  height: 24px;
  cursor: pointer;
  width: 172px;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
.services-section__more-btn:hover {
  color: #FCB62A;
}
.services-section__more-svg {
  fill: #FF9F0E;
  width: 40px;
  height: 40px;
}/*# sourceMappingURL=main.css.map */